
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


* {
    font-family: 'Ubuntu', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}

nav {
    background-color: #011627;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

#menu {
    font-size: larger;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: #fdfffc;
    padding: 20px;
    margin-left: 20px;
}

a:hover {
    background-color: #e71d36;
}

section {
    margin: 20px;
}